body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
}

#device-list {
  list-style: none;
}
